<div class="card">
    <div class="card-header">
        <h4>{{offer ? 'Update' : 'Add'}} Offer</h4>
    </div>
    <div class="card-body">
        <div class="form">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Offer Name</label>
                        <input [(ngModel)]="ofr_name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Offer Code</label>
                        <input [(ngModel)]="ofr_code" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input [(ngModel)]="ofr_discount" type="number" class="form-control">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Validity</label>
                        <input [(ngModel)]="ofr_validity" type="date" class="form-control">
                    </div>
                </div>
            </div>

        </div>




        <div class="form-group">
            <button (click)="onUpdate()" class="btn btn-success">{{offer ? 'Update' : 'Add'}}</button>
            <a style="margin-left: 10px;" routerLink="/offers" class="btn btn-danger">Cancel</a>


        </div>


    </div>
</div>