<!-- <div class="container md-col-4">
    <button (click)="addoffer()" class="btn btn-success btn-sm float-right">Add</button>




    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Offer No.</th>
                <th scope="col">Offer Name</th>
                <th scope="col">Discount</th>
                <th scope="col">Validity</th>
                <th scope="col" style="text-align: center;">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offer of offers; let index=index">
                <td>{{index+1}}</td>
                <td>{{offer['id']}}</td>
                <td>{{offer['Offer Name']}}</td>
                <td>{{offer['Discount']}} %</td>
                <td>{{offer['Validity']}} </td>
                <td>
                    <button (click)="onEdit(offer)" style="margin-left: 10px;"
                        class="btn btn-warning btn-sm">Edit</button>
                    <button style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div> -->




<div class="container">
    <div class="row">

        <div>
<div class="card">
            <div class="card-body">

                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">Sr.No</th>
                            <th scope="col">Offer No.</th>
                            <th scope="col">Offer Name</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Validity</th>
                            <th scope="col" style="text-align: center;">Action</th>
            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of offers; let index=index">
                            <td>{{index+1}}</td>
                            <td>{{offer['id']}}</td>
                            <td>{{offer['Offer Name']}}</td>
                            <td>{{offer['Discount']}} %</td>
                            <td>{{offer['Validity']}} </td>
                            <td>
                                <button (click)="onEdit(offer)" style="margin-left: 10px;"
                                    class="btn btn-warning btn-sm">Edit</button>
                                <button style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>