<div class="container">
    <div class="row">
        <div >
            <h4 *ngIf="orderHistories.length==0">There is no order history at the moment.</h4>
            <div class="card" *ngIf="orderHistories.length>0">
              
                <div class="card-body">
                    <h4 class="card-title"> Orders</h4>
                    <div class="table table-striped">
                        <thead class=" text-primary">
                            <tr >
                                <!-- <th>Sr. No.</th> -->
                                <th>Order Id</th>
                                <th>Customer Name</th>
                                <th>Date</th>
                                <th>Vehicle Number</th>
                                <th>Amount</th>
                            </tr>

                        </thead>

                        <tbody >
                         <tr *ngFor="let orderHistory of orderHistories; let index=index">
                           
                            <td>{{index+1}}</td>
                        
                            <td>{{orderHistory['o_date']}}</td>

                            <td>{{orderHistory['o_start_time']}}</td>

                            <td>{{orderHistory['o_vehicle_reg_no']}}</td>

                            <!-- <td>{{orderHistory['Vehicle Number']}}</td> -->
                            
                            <!-- <td>{{orderHistory['Amount']}}</td> -->
                            <th >1500</th>
                          
                         </tr>
                        </tbody>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>