<div class="container md-col-4">
    <button (click)="addservice()" class="btn btn-success btn-sm float-right">Add</button>




    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Service Name</th>
                <th scope="col">Price</th>
                <th scope="col" style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services; let index=index">
                <td>{{index+1}}</td>
                <td>{{service.stv_name}}</td>
                <td>{{service.stv_price}}</td>
                <td>
                    <button (click)="onEdit(service)" style="margin-left: 10px;" class="btn btn-warning btn-sm">Edit</button>
                    <button (click)="onDelete(service)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>