<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <div class="float-left">
              <ul style="display: inline-block;" class="list-group">
                <i class="fa fa-linkedin mr-1"></i> 
                <i class="fa fa-reddit mr-1"></i>
                <i class="fa fa-google-plus mr-1"></i>
                <i class="fa fa-twitter mr-1"></i>
                <i class="fa fa-github mr-1"></i>
                <i class="fa fa-facebook mr-1"></i>


               
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                  <a href="https://www.youtube.com/channel/UCtHmuf2oQLnksokfz8GIbKA" target="_blank"><i class="fa fa-youtube mr-1"></i> YouTube</a>
                </li>
              </ul>
              </div>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="#">Abhilash</a>
        </div>
    </div>
</footer>
